@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* Reglas header */
.header, footer {
    background-color: #222222;
    color: white;
    justify-content: space-between
}

.menu {
    align-items: center;
}

.header, .menu {
    display: flex;
    flex-direction: row;
}

.p-menu {
    display: inline-block;
    justify-content: flex-end;
    margin-right: 20px;
    margin: 13px;
}

.header img {
    margin: 10px 20px;
}

/* Reglas main */
main {
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: center;
    position: relative;
}

span {
    color: white;
}

.h3 {
    color:#FC200C;
    font-size: 24px;
    margin: 20px;
}

.posts {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 500px;
}

.delivery {
    height: 350px;
    width: 500px;
}

.toppings {
    height: 130px;
    margin-top: -20px;
    position: relative;
    right: 20px;
    top: 50px;
}

.top5 h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
}

.top5 {
    align-self: flex-end;
    line-height: 28px;
    position: relative;
    right: 30px;
    top: 30px;
}

.podio_bott {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#absolute {
    position: absolute;
}

#p1 {
    margin: 35px 5px 35px 20px;
}

#p2 {
    background-color: #FFFFFF;
    margin: 35px 20px 35px 5px;
}

#podio {
    align-self: center;
}

/* Reglas footer*/
footer p {
    line-height: 30px;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    padding: 20px;
}

.logoF {
    height: 80px;
    margin: 20px;
    width: 225px;
}

.footer {
    display: flex;
    flex-direction: column;
}
