/*Inicio Main*/
main {
    .main_section_layout_perfil {
        padding: 0.3rem;
        display: grid;
        grid-template-columns: 18% 1fr 20%;
        justify-items: start;
        align-items: center;
        font-size: 0.8rem;
        span {
            justify-self: end;
            font-size: 1.5rem;
            align-self: center;
        }
    }
    .main_img_size_publi {
        width: 100px;
        height: 100px;
    }
    section {
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: solid 1px $color-secundario;
            border-radius: 5px;
            margin: 1rem;
            padding: 1rem;
        }
    }
    .main_section_layout_publi {
        display: grid;
        margin: 1rem 1rem 5rem 1rem;
        img {
            justify-self: center;
            width: 300px;
            height: auto;
        }
        div {
            display: flex;
            border: none;
            justify-content: start;
            gap: 10px;
            padding: 0px;
            margin: 1rem 0rem;
        }
        p {
            line-height: 20px;
        }
        p:nth-child(4) {
            color: $color-secundario;
        }
    }
}
/*Fin Main*/